<div class="col-md-12 mb-4">
  <div class="row mt-4 blogpost-header">
    <div class="col-md-6">
      <h2 class="blogpost-name-not-link">{{title}}</h2>
      <p>{{description}}</p>
    </div>
    <div class="col-md-6 created-by">
      <p><span data-id={{id}} id="blogpost-id"></span>
        Created by
        {{client.name}}
        on
        {{format_date date_created}}</p>
    </div>
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <div id="comment-container" style="flex">
        <div class="comment">
          <label for="comment-container">Add your comment:</label>
            <input class="input" type="text" id="comment-desc"/>
                <button class="btn btn-primary" id="comment-btn" data-id={{id}}>+Add Comment</button>
      </div>
    </div>
  </div>

    <div class="col-md-12 mb-4">
      <div class="row mt-4 blogpost-desc">
        <div class="col-md-12">
          {{#if comments}}
            {{#each comments}}
              <p> By {{client.name}},
                        {{description}} on
                          {{format_date date_created}}</p>
        </div>
      {{/each}}
    {{/if}}
      </div>
    </div>

<script src="/js/comment.js"></script>