<section class="post">
<div class="col-md-12 mb-4 p-0">
  <div class="row mt-4 blogpost-header">
    <div class="col-md-6">
      <h2 class="blogpost-name-not-link">{{title}}</h2>
      <p>{{description}}</p>
    </div>
    <div class="col-md-6 created-by">
      <p><span data-id={{id}} id="blogpost-id"></span>
        Created by
        {{client.name}}
        on
        {{format_date date_created}}</p>
    </div>
  </div>
</section>

  {{!-- <div class="row input-group mb-3 p-0">
    <div class="row mt-4 input-group-prepend">
     <div class="col-md-12 mb-4">
      <div id="comment-container" style="flex">
        <div class="row mt-6 comment">
          <label for="comment-container">Add your comment:</label>
            <textarea class="form-control" type="text" id="comment-desc" rows="3"></textarea>
                <button class="btn btn-primary" id="comment-btn" data-id={{id}}>+Add Comment</button>
      </div>
    </div>
  </div> --}}

<section class="posted-comment">
    <div class="section-header">
        {{#if logged_in}}
        <h3>Comments</h3>
        {{else}}
        <h3>Comments</h3>
        {{/if}}
    </div>
    {{#if logged_in}}
        {{#each comments as |comment|}}
        <div class="section-body">
            {{!-- <p><a href="/edit-comment/{{comment.id}}">{{comment.text}}</a></p> --}}
            <p>– {{client.name}}, {{format_date date_created}}</p>
        </div>
        {{/each}}
        {{#unless post.comments}}
        <div class="section-body">
            <p>Be the first to comment!</p>
        </div>
        {{/unless}}
    {{else}}
        {{#each post.comments as |comment|}}
        <div class="section-body">
            <p>{{comment.text}}</p>
            <p>– {{client.name}}, {{format_date date_created}}</p>
        </div>
        {{/each}}
        {{#unless post.comments}}
        <div class="section-body">
            <p>Be the first to comment!</p>
        </div>
        {{/unless}}
    {{/if}}
</section>

    {{!-- <div class="col-md-12 mb-4 p-0">
      <div class="row mt-4 blogpost-desc">
        <div class="col-md-12">
          {{#if comments}}
            {{#each comments}} 
            <h4 class="text-link fst-normal mb-0">
              By: {{client.name}} 
                <span class="text-primary ms-2 comment-desc">{{description}}</span>
                  on {{format_date date_created}}
                </h4>
      {{/each}}
    {{/if}}
    </div>
  </div>
 </div> --}}
<section class="comment">
    {{#if logged_in}}
    <div class="section-header">
        <h3>Add a Comment</h3>
    </div>
    <div class="section-body">
        <form class="comment-form">
            {{!-- <label for="comment"><b>Comment</b></label> --}}
            <textarea name="comment-body" id="comment-desc" cols="120" rows="10"></textarea>
            <button class="btn btn-primary" id="comment-btn" type="submit">+ Add Comment</button>
        </form>
        {{else}}
        <div class="section-header">
            <h3>Login to Comment</h3>
        </div>
        <div class="section-body">
            <p>Please <a href="/login/">login</a> to edit, update, or delete comments.</p>
        </div>
        {{/if}}
    </div>
</section>
<script src="/js/comment.js"></script>